<!--<div class="container">
  <table class="table table-bordered">
    <thead>
      <th>Voornaam</th>
      <th>Achternaam</th>
      <th>Geboortedatum</th>
    </thead>
      <tbody *ngFor="let candidate of candidates">
        <tr>
          <td>
            <span>{{candidate.firstName}}</span>
          </td>
          <td>
            <span>{{candidate.lastName}}</span>
          </td>
          <td>
            <span>{{candidate.dateOfBirth | stringToDate | date:'shortDate'  }}</span>
          </td>
        </tr>
      </tbody>

  </table>


</div>-->

<div class="panel panel-primary">
  <div class="panel-heading">
    Candidate List
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Filtered by: </h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Voornaam</th>
          <th>Achternaam</th>
          <th>Geboortedatum</th>
        </thead>
        <tbody *ngFor="let candidate of candidates">
          <tr>
            <td>
              <span>{{candidate.firstName}}</span>
            </td>
            <td>
              <span>{{candidate.lastName}}</span>
            </td>
            <td>
              <span>{{candidate.dateOfBirth | stringToDate | date:'shortDate'  }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>